.lateralDireita{
    width: 100%;
    padding: 70px 0px 0px 200px ;
}

.lateralDireita h1{
    font-family: Archivo;
    font-size: 40px;
    margin-bottom: 30px;
}

.lateralDireita p{
    font-family: Archivo;
    font-size: 50px;
    color: #929292;
    font-size: 20px;
    margin-bottom: 80px;
}

.titulonav{
    padding-right: 30px;
    display: flex;
}

.titulonav p{
    padding-right: 30px;
}

.nav{
    display: flex;
    width: 50%;
    height: 30px;
    border-bottom: solid 1px #8C8C8C;
    justify-content: space-between;
}

.componentes{
    display: flex;
    flex-direction: row;
}

.pesquisanav{
    display: flex;
}

.botaoFitrar{
    display: flex;
    flex-direction: row;
    margin-left:-250px;
    position: absolute;
}

.pesquisar input{
    width: 200px;
    height: 30px;
    margin-top: -5px;
    margin-left: -160px;
    margin-right: 500px;
    border-radius: 30px;
    border:solid 1px;
    position: absolute;
}

.lupa{
    font-size: 25px;
    position: relative;
}

.filtrar{
    font-size: 25px;
    
}

.vazio{
    width: 50%;
    padding: 100px;
    text-align: center;
}
