.ContainerSideBar{
    width: 20%;
}

.TitleButtons{
    font-family: "Archivo Black";
    font-size: 20px;
}

.contentIconSideBar{
    display: flex;
    margin: 30px 0px 30px 40px;
    gap: 5px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
}

.contentLogoCompany{
    display: flex;
    margin: 38px 0px 35px 40px;
    gap: 5px;
    cursor: pointer;
    font-size: 15px;
    align-items: center;
}

.LineSideBar{
    width: 90%;
    height: 1px;
    background-color: #A6A6A6;
    margin-left: 15px;
}

.ImageLogoSideBar{
    border-radius: 50%;
}

.titleCompany{
    font-size: 26px;
    font-family: "Archivo";
    font-weight: 600;
}