.ContainerCadastro {
    display: flex;
}

.ContentRegister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100vh;

}

.TitleScreenRegister {
    color: #000;
    font-size: 96px;
    font-family: "Archivo Black";
    margin-bottom: 20px;
}

.DescriptionScreenRegister {
    color: #ACACAC;
    font-size: 40px;
    font-weight: 400;
    font-family: "Archivo";
    width: 800px;
    margin-bottom: 40px;
}

.Contentform {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

/* Primeiro step */
.contentinputs {
    display: flex;
    gap: 20px;
}

.iputsRegister {
    width: 920px;
    height: 80px;
    background-color: #E9E9E9;
    font-size: 48px;
    border: 1px solid #cfcfcf;
    outline: none;

    &::placeholder {
        font-size: 48px;
        font-family: "Archivo Black";
        color: #ABABAB;
    }
}

.iputsRegisterCnpj {
    width: 500px;
    height: 80px;
    background-color: #E9E9E9;
    font-size: 48px;
    border: 1px solid #cfcfcf;
    outline: none;

    &::placeholder {
        font-size: 48px;
        font-family: "Archivo Black";
        color: #ABABAB;
    }
}

.iputsRegisterContato {
    width: 400px;
    height: 80px;
    background-color: #E9E9E9;
    font-size: 48px;
    border: 1px solid #cfcfcf;
    outline: none;

    &::placeholder {
        font-size: 48px;
        font-family: "Archivo Black";
        color: #ABABAB;
    }
}

.ButtonRegister {
    background-color: #000;
    color: #fff;
    font-size: 64px;
    border-radius: 70px;
    width: 550px;
    height: 115px;
    font-family: "Archivo Black";
    cursor: pointer;

    &:hover {
        background-color: white;
        color: black;
        font-family: "Archivo Black";
      }
}

/* Segundo step */
.success{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TextRegister{
    font-size: 48px;
    font-family: "Archivo Black";
    margin-top: 100px;
    width: 600px;
}

.IconRegister{
    width: 143px;
    height: 143px;
    color: #008000;
    border: 2px solid #016b01;
    border-radius: 50%;
    margin-top: 20px;
}
/* lado direito da tela */
.ContentDescription {
    background-color: #000;
    width: 40vw;
    height: 100vh;
    padding-left: 100px;
}

.TitleRegister {
    color: #fff;
    font-size: 96px;
    font-family: "Archivo Black";
    margin-top: 200px;
    margin-bottom: 80px;
}

.SubTitleRegister {
    color: #fff;
    font-size: 40px;
    margin-bottom: 50px;
    font-family: "Archivo Black";
}

.DescriptionText {
    color: #fff;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 100px;
    width: 400px;
}

.ButtonLoginRegister {
    width: 425px;
    height: 150px;
    border: 3px solid #fff;
    background-color: #000;
    color: #fff;
    font-size: 64px;
    cursor: pointer;
    font-family: "Archivo Black";

    &:hover {
        background-color: white;
        color: black;
        font-family: "Archivo Black";
      }
}