/* components/login.module.css */

.container {
  display: flex;
  height: 100vh;
}

.conteudo{
  width: 25vw;
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.painelEsquerdo {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px 0px;
  width: 40vw;
}

/* Painel direito */

.painelDireito {
  background-color: white;
  color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 60vw;
}

.marca {
  font-size: 96px;
  margin-bottom: 50px;
  font-family: "Archivo Black";
}

.texto {
  font-size: 40px;
  font-family: "Archivo Black";
}

.subtexto {
  font-size: 36px;
  margin-bottom: 2rem;
  font-family: "Arial";
}

.botaoCadastrar {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 50px;
  text-transform: uppercase;
  font-family: "Archivo Black";
}

.botaoCadastrar:hover {
  background-color: white;
  color: black;
  font-family: "Archivo Black";
}

.titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Archivo Black";
}

.descricao {
  font-size: 1rem;
  margin-bottom: 2rem;
  font-family: "Archivo Black";
}

.formulario {
  width: 100%;
  max-width: 300px;
  
}

.grupoInput {
  display: flex;
}  